/* =================================
  Base Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: 'Lexend Mega', sans-serif;
  line-height: 1.6em;
  color: grey;
}

h1 {
  margin: 0;
  padding-top: 20px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: lightblue;
}

img {
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

li {
  padding-bottom: 5px;
}

/* ==============container styles================= */
.wrapper {
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.container {
  background-color: white;
  text-align: center;
}

.contact-col {
  text-align: center;
}

.main-nav li {
  background: lightgrey;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.main-nav {
  padding-bottom: 30px;
}

.name {
  text-align: center;
}

.name a,
.main-nav a {
  padding: 10px 15px;
  display: block;
}

.intro p {
  padding-top: 15px;
  padding-bottom: 20px;
}

.portfolio1 {
  padding: 50px;
  text-transform: uppercase;
  color: black;
}

.col2 {
  padding-top: 10px;
}

.col {
  padding: 15px;
}

.skill-picture {
  width: 20%;
}

.skills h2 {
  color: black;
  padding: 50px 0 30px 0;
  text-transform: uppercase;
}

.skill-list {
  padding: 20px 0 50px 0;
}

.para1 {
  padding: 0 10px 0 10px;
}

.main-footer {
  color: black;
  text-align: center;
}

.footer {
  display: none;
}

.main-footer p {
  float: left;
  padding-left: 15px;
}

.top-anchor {
  float: right;
  padding-right: 15px;
  padding-top: 15px;
}

/* ==================== ID================= */
#contact {
  color: black;
}

/* =================================
  Media Queries
==================================== */
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .feat-img1 {
    width: 50%;
    float: right;
    padding: 50px 10px 50px 10px;
  }

  .intro p {
    padding: 50px 0 50px 10px;
  }

  .col {
    width: 50%;
    float: left;
    padding: 10px;
    text-align: center;
  }

  .contacth {
    padding: 20px 0 20px 0;
  }

  .main-nav li {
    display: inline-block;
  }

  .name,
  .main-nav {
    text-align: center;
  }

  .main-footer p {
    float: left;
    margin: auto;
  }

  .footer li {
    float: right;
    margin-right: 15px;
  }

  .top-anchor {
    display: none;
  }

  .footer {
    display: contents;
  }
}

/* =================================
  Clear Fix
==================================== */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 1024px) {
  .container {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
  }

  .name {
    float: left;
    font-family: 'Anton', sans-serif; 
  }

  .main-nav {
    float: right;
  }

  .col {
    width: 33.33%;
    float: left;
    padding: 10px;
    text-align: center;
  }
}

/* =================================
  Clear Fix
==================================== */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
